main .form-body {
    margin-left: 20rem;
}

form .form-control {
    border-radius: 0;
}

.content-wrapper .box {
    border-top-color: #CEA052;
}


.content .box-header {
    border-bottom: 1px solid #f4f4f4;
}

form .form-control {
    color: #555;
    height: 34px;
    width: 70px;
    padding: 0;
    border-radius: 0;
    padding: 6px 12px;
    border: 1px solid #ccc;
}

form label {
    font-weight: 700;
}