form label {
    font-size: 15px;
}

form .checkbox label {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 2px 0;
}

form .checkbox label input {
    margin-right: 8px;
}

form .subCheckbox {
    margin-left: 20px;
}